    <h1>Visar senaste artikeln</h1>
    <div class="main">
    <div class="article-container">
    <h2 class="title"> {{artikel.title}}</h2>
    <p class="content">{{artikel.content}}</p>
    <div class="article-footer">
      <div class="read-time">
        <h3> Tid att läsa:</h3>
        <p>{{artikel.readTime}} minuter.</p>
      </div>
      <div class="author-container">
        <h4 class="author">Publicerad av:</h4>
        <p class="author">{{artikel.author}}</p>
      </div>
    </div>
  </div>
</div>
