<div class="container">
    <ul>
        <li routerLinkActive="is-active" routerLink="/startsida">Startsida</li>
        <li routerLinkActive="is-active" routerLink="/senaste">Senaste</li>
        <li routerLinkActive="is-active" routerLink="/alla">Alla</li>
        <li routerLinkActive="is-active" routerLink="/ny-artikel" *ngIf="isAuthenticated">Ny artikel</li>
    </ul>
    <div class="right-container">
        <p class="header-text">Är du bloggaren? </p>
        <button class="btn-login" routerLinkActive="is-active" routerLink="/logga-in">Ja, jag är bloggaren</button>
    </div>
</div>


<!-- <button class="btn-login" (click)="getAuthenticated()">{{isAuthenticated ? 'Logga ut' : 'Ja, jag är bloggaren'}}</button> -->