<div class="container">
    <ul>
        <li routerLinkActive="is-active" routerLink="/startsida">Startsida</li>
        <li routerLinkActive="is-active" routerLink="/senaste">Senaste</li>
        <li routerLinkActive="is-active" routerLink="/alla">Alla</li>
        <li routerLinkActive="is-active" routerLink="/ny-artikel" *ngIf="isAuthenticated">Ny artikel</li>
    </ul>
    <div class="right-container">
        <p class="header-text" *ngIf="!isAuthenticated">Är du bloggaren? </p>
        <button class="btn-login" *ngIf="isAuthenticated" routerLink="/startsida" (click)="logout()">Logga ut</button>
        <button class="btn-login" *ngIf="!isAuthenticated" routerLink="/logga-in">Ja, jag är bloggaren</button> 
    </div>
</div>

<!-- <button class="btn-login" routerLink="/logga-in" (click)="checkLogout()">{{isAuthenticated == true ? "Logga ut" : "Ja, jag är bloggaren"}}</button> -->