.form-group{
    border: 5px lightblue;
	border-radius: 0.3em;
	padding: 0.3em;
	margin: 0.3em;
    background-color: lightgrey;
    display: grid;
    
}

button{
    background-color:lightslategray;
    
}
input{
    background-color: lightgrey;
    display: block;
}